@using Automarket.Domain.Entity
@model List<Automarket.Domain.Entity.Car>
@{
    ViewData["Title"] = "Home Page";
}


<div>
    @foreach (Car car in @Model)
    {
        <div class="card bg-gradient">
            <p>@car.Id</p>
            <p>@car.Name</p>
            <p>@car.Model</p>
            <p>@car.Description</p>
            <p>@car.Price</p>
            <p>@car.Speed</p>
            <p>@car.DateCreate.ToString()</p>
            <p>@car.TypeCar</p>
        </div>
    }
</div>
